node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Logs
npm-debug.log*
